.ProductDetails {
  padding: 30px;
  margin: 50px 0 0 0;
}

.ProductHeader {
  width: 100%;
  height: 200px;
  background-image: url("../../../../../img/ProductDetails/background.png");
  background-size: cover;
  border-radius: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
}

.ProductHeader_title {
  color: #FFF;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
@media screen and (max-width: 1187px) {
  .ProductHeader_title {
    font-size: 25px;
  }
}
@media screen and (max-width: 572px) {
  .ProductHeader_title {
    font-size: 22px;
    padding: 0 20px;
  }
}

.container {
  width: 100%;
  padding: 70px 30px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    padding: 70px 30px;
  }
}

.left {
  margin: 0 110px 0 0;
  order: 1;
}
@media screen and (max-width: 1661px) {
  .left {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 0;
  }
}

.right {
  order: 2;
}
@media screen and (max-width: 1661px) {
  .right {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1200px) {
  .right {
    align-items: center;
    margin: 0 0 50px 0;
  }
}

.img_container {
  display: flex;
  justify-content: space-around;
}
.img_container img {
  width: 50%;
}
.img_container img:first-child {
  margin: 0 20px 0 0;
}
@media screen and (max-width: 1129px) {
  .img_container img {
    max-width: 45%;
  }
}

.features_container {
  width: 100%;
  padding: 45px;
  margin: 30px 0 0 0;
  border-radius: 28px;
  border: 1px solid #868686;
}
@media screen and (max-width: 548px) {
  .features_container {
    padding: 45px;
  }
}

.features_title {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ul {
  padding: 23px 0;
}
.ul li {
  color: #6A6A6A;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 10px 0;
}
.ul li::before {
  content: url("../../../../../img/ProductDetails/checkmark.svg");
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
  padding: 0;
}
@media screen and (max-width: 548px) {
  .ul {
    margin: 30px 0 0 0;
  }
}

.title {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 80%;
}
@media screen and (max-width: 1379px) {
  .title {
    text-align: center;
  }
}
@media screen and (max-width: 548px) {
  .title {
    font-size: 22px;
  }
}

.price, .stock {
  color: #EDCB62;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (max-width: 548px) {
  .price, .stock {
    font-size: 28px;
  }
}

.price {
  margin: 0 160px 0 0;
}
@media screen and (max-width: 1661px) {
  .price {
    margin: 0 40px 0 0;
  }
}

.contact {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 60px 0 0 0;
}
@media screen and (max-width: 548px) {
  .contact {
    font-size: 30px;
  }
}

.link_container {
  display: flex;
  margin: 27px 0 0 0;
}
@media screen and (max-width: 548px) {
  .link_container {
    flex-direction: column;
    width: 100%;
  }
}

.link {
  display: block;
  padding: 20px 35px;
  border-radius: 20px;
  background: #2B689F;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 548px) {
  .link {
    width: 100%;
    max-width: 100% !important;
    margin: 0 0 20px 0;
  }
  .link:nth-child(2) {
    margin: 0 !important;
  }
}/*# sourceMappingURL=ProductDetails.module.css.map */