.WhyWe
    margin: 240px 0 0 0
    padding: 0 120px
    display: flex
    flex-direction: column
    align-items: center
    background-image: url("../../../img/WhyWe/background.png")
    background-size: 82%
    background-position: right 18vh
    background-repeat: no-repeat
    height: 1050px
    @media screen and ( max-width: 1077px )
        padding: 0 20px

.title
    color: #000
    font-family: Inter
    font-size: 50px
    font-style: normal
    font-weight: 600
    line-height: normal
    text-align: center
    @media screen and ( max-width: 1077px)
        font-size: 40px

.ul
    padding: 100px 0 0 0
    width: 100%
    display: flex
    align-items: center
    flex-wrap: wrap

    li
        color: #000
        font-family: Inter
        font-size: 24px
        font-style: normal
        font-weight: 400
        line-height: normal
        margin: 0 0 62px 0
        display: flex
        align-items: center
        justify-content: center
        width: 50%

        p
            width: 300px

        &::before
            content: url("../../../img/WhyWe/checkmark.svg")
            display: inline-block
            width: 80px
            height: 80px
            margin: 0 16px 0 0

    @media screen and ( max-width: 806px )
        li
            font-size: 18px

    @media screen and ( max-width: 600px )
        li
            font-size: 12px
