.SubcategoryContainer
    padding: 50px 80px
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

.SubcategoryItem
    width: 49%
    min-height: 500px
    margin: 25px 0
    padding: 38px
    border-radius: 46px
    box-shadow: 5px -5px 15px 0px rgba(0, 0, 0, 0.15), -5px 5px 15px 0px rgba(0, 0, 0, 0.15)
    display: flex

.img
    width: 165px
    height: 165px

.left
    min-width: 217px
    display: flex
    flex-direction: column
    align-items: center
    @media screen and ( max-width: 1870px )
        min-width: 25%

.right
    margin: 0 0 0 88px
    display: flex
    flex-direction: column
    justify-content: space-between
    @media screen and ( max-width: 1870px )
        margin-left: 30px

.title
    color: #000
    font-family: Inter
    font-size: 40px
    font-style: normal
    font-weight: 500
    line-height: normal
    @media screen and ( max-width: 1870px )
        font-size: 25px
        max-width: 350px

.price
    color: #ECC140
    font-family: Inter
    font-size: 50px
    font-style: normal
    font-weight: 600
    line-height: normal
    text-align: center
    margin: 40px 0 0 0

.ul
    margin: 20px 0 0 0
    li
        border-bottom: 1px solid #EAEAEA
        color: #000
        font-family: Inter
        font-size: 24px
        font-style: normal
        font-weight: 400
        line-height: normal
        padding: 10px 0
        display: flex
        align-items: center
        &::before
            content: url("../../../../img/Subcategory/check.svg")
            width: 24px
            height: 24px
            margin: 0 10px 0 0
            padding: 0

.link_container
    display: flex
    margin: 27px 0 0 0

    .link
        padding: 12px 9px
        border-radius: 10px
        background: #004C8F
        color: #FFF
        font-family: Inter
        font-size: 20px
        font-style: normal
        font-weight: 500
        line-height: normal

        &:first-child
            margin: 0 18px 0 0
