.SocialItem
    display: flex
    align-items: center
    width: 30%
    height: 195px
    border-radius: 40px
    background: #DDEFFF
    position: relative

.title
    color: #000
    font-family: Inter
    font-size: 24px
    font-style: normal
    font-weight: 400
    line-height: normal
    margin: 0 0 0 13px

.img
    position: relative
    left: -10px
    bottom: -5px
    height: 228px
