.Contact
    display: flex
    flex-direction: column
    align-items: center
    padding: 40px 120px 170px
    @media screen and ( max-width: 956px )
        padding: 40px 40px 170px

.title
    color: #FFF
    font-family: Inter
    font-size: 50px
    font-style: normal
    font-weight: 500
    line-height: normal
    border-radius: 21px
    background: #2B689F
    text-align: center
    width: 233px

.section_1
    width: 100%
    display: flex
    justify-content: space-between
    margin: 50px 0 0 0
    @media screen and ( max-width: 1393px )
        flex-direction: column
        align-items: center
        justify-content: center

.section_1__left
    order: 1
    @media screen and ( max-width: 1393px )
        order: 2

.section_1__right
    display: flex
    flex-direction: column
    justify-content: center
    margin: 0 0 0 20px
    order: 2
    @media screen and ( max-width: 1393px )
        order: 1

.section_1__h3
    color: #000
    text-align: right
    font-family: Inter
    font-size: 45px
    font-style: normal
    font-weight: 700
    line-height: 64px
    white-space: nowrap
    @media screen and ( max-width: 1393px )
        text-align: center

    @media screen and ( max-width: 780px )
        font-size: 30px
        line-height: inherit

.section_1__h4
    color: #000
    text-align: right
    font-family: Inter
    font-size: 24px
    font-style: normal
    font-weight: 400
    line-height: 40px
    margin: 25px 0 0 0
    @media screen and ( max-width: 780px )
        font-size: 18px

.section_2
    width: 100%
    display: flex
    justify-content: space-between
    margin: 80px 0 0 0

    @media screen and ( max-width: 1393px )
        flex-direction: column

.section_2__left
    width: 50%
    @media screen and ( max-width: 1393px )
        width: inherit

.section_2__h2
    color: #000
    text-align: right
    font-family: Inter
    font-size: 40px
    font-style: normal
    font-weight: 600
    line-height: 67px
    text-align: center

.section_2__right
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: flex-end
    @media screen and ( max-width: 1393px )
        display: none

.iconsContainer
    display: flex
    justify-content: flex-end

.a
    padding: 0
    margin: 0 50px 0 0

    &:last-child
        margin: 0

.facebook_2
    width: 500px
    height: auto
.form
    display: flex
    flex-direction: column
    margin: 90px 0 0 0

.input
    display: inline-flex
    padding: 32px 100px 32px 27px
    justify-content: center
    align-items: center
    border-radius: 30px
    background: #DEEFFF
    color: #525252
    font-family: Inter
    font-size: 24px
    font-style: normal
    font-weight: 400
    line-height: 40px
    width: 100%
    margin: 0 0 58px 0
    outline: none

.button
    display: inline-flex
    padding: 16px 69px
    justify-content: center
    align-items: center
    border-radius: 22px
    background: #2B689F !important
    color: #fff
    width: 204px
    @media screen and ( max-width: 1393px )
        margin: 0 auto
