.Socials
    width: 100%
    padding: 0 120px
    display: flex
    align-items: center
    justify-content: space-between
    margin: 183px 0 0 0

    @media screen and ( max-width: 1196px )
        flex-direction: column

    @media screen and ( max-width: 660px )
        align-items: center
        padding: 0 20px
